<a href="https://colab.research.google.com/github/ShrutiG-24/-BCSE331L-Exploratory-Data-Analysis/blob/main/22BDS0298.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Dataset URL
df = pd.read_csv("https://raw.githubusercontent.com/salemprakash/EDA/main/Data/income.csv")
df.head(10)

,INCOME,SEX,MARITAL.STATUS,AGE,EDUCATION,OCCUPATION,AREA,DUAL.INCOMES,HOUSEHOLD.SIZE,UNDER18,HOUSEHOLDER,HOME.TYPE,ETHNIC.CLASS,LANGUAGE
0,[75.000-,F,Married,45-54,1 to 3 years of college,Homemaker,10+ years,No,Three,NaN,Own,House,White,NaN
1,[75.000-,M,Married,45-54,College graduate,Homemaker,10+ years,No,Five,Two,Own,House,White,English
2,[75.000-,F,Married,25-34,College graduate,Professional/Managerial,10+ years,Yes,Three,One,Rent,Apartment,White,English
3,-10.000),F,Single,14-17,Grades 9 to 11,"Student, HS or College",10+ years,Not Married,Four,Two,Family,House,White,English
4,-10.000),F,Single,14-17,Grades 9 to 11,"Student, HS or College",4-6 years,Not Married,Four,Two,Family,House,White,English
5,[50.000-75.000),M,Married,55-64,1 to 3 years of college,Retired,10+ years,No,Two,NaN,Own,House,White,English
6,-10.000),M,Single,18-24,Graduated High Scool,Unemployed,7-10 years,Not Married,Three,One,Rent,Apartment,White,English
7,[30.000-40.000),M,Divorced,25-34,1 to 3 years of college,Factory Worker/Laborer/Driver,10+ years,Not Married,One,NaN,Rent,Apartment,White,English
8,[10.000-15.000),M,Married,55-64,Graduated High Scool,Retired,10+ years,No,Three,NaN,Rent,Apartment,White,English
9,[20.000-25.000),M,Married,65+,1 to 3 years of college,Retired,7-10 years,No,Two,NaN,Rent,Apartment,White,English

In [13]:
df.shape

(8993, 14)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8993 entries, 0 to 8992
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   INCOME          8993 non-null   object
 1   SEX             8993 non-null   object
 2   MARITAL.STATUS  8833 non-null   object
 3   AGE             8993 non-null   object
 4   EDUCATION       8907 non-null   object
 5   OCCUPATION      8857 non-null   object
 6   AREA            8080 non-null   object
 7   DUAL.INCOMES    8993 non-null   object
 8   HOUSEHOLD.SIZE  8618 non-null   object
 9   UNDER18         3269 non-null   object
 10  HOUSEHOLDER     8753 non-null   object
 11  HOME.TYPE       8636 non-null   object
 12  ETHNIC.CLASS    8925 non-null   object
 13  LANGUAGE        8634 non-null   object
dtypes: object(14)
memory usage: 983.7+ KB

In [10]:
df.describe()

,INCOME,SEX,MARITAL.STATUS,AGE,EDUCATION,OCCUPATION,AREA,DUAL.INCOMES,HOUSEHOLD.SIZE,UNDER18,HOUSEHOLDER,HOME.TYPE,ETHNIC.CLASS,LANGUAGE
count,8993,8993,8833,8993,8907,8857,8080,8993,8618,3269,8753,8636,8925,8634
unique,9,2,5,7,6,9,5,3,9,9,3,5,8,3
top,-10.000),F,Single,25-34,1 to 3 years of college,Professional/Managerial,10+ years,Not Married,Two,One,Rent,House,White,English
freq,1745,4918,3654,2249,3066,2820,5182,5438,2664,1506,3670,5073,5811,7794

In [11]:
df.isnull().sum()

INCOME               0
SEX                  0
MARITAL.STATUS     160
AGE                  0
EDUCATION           86
OCCUPATION         136
AREA               913
DUAL.INCOMES         0
HOUSEHOLD.SIZE     375
UNDER18           5724
HOUSEHOLDER        240
HOME.TYPE          357
ETHNIC.CLASS        68
LANGUAGE           359
dtype: int64

In [12]:
for col in df.select_dtypes(include='object'):
    print(f"\nUnique values in {col}:")
    print(df[col].unique())

Unique values in INCOME:
['[75.000-' '-10.000)' '[50.000-75.000)' '[30.000-40.000)'
 '[10.000-15.000)' '[20.000-25.000)' '[40.000-50.000)' '[25.000-30.000)'
 '[15.000-20.000)']

Unique values in SEX:
['F' 'M']

Unique values in MARITAL.STATUS:
['Married' 'Single' 'Divorced' 'Together' 'Widowed' nan]

Unique values in AGE:
['45-54' '25-34' '14-17' '55-64' '18-24' '65+' '35-44']

Unique values in EDUCATION:
['1 to 3 years of college' 'College graduate' 'Grades 9 to 11'
 'Graduated High Scool' 'Grad Study' 'Grade 8 or less' nan]

Unique values in OCCUPATION:
['Homemaker' 'Professional/Managerial' 'Student, HS or College' 'Retired'
 'Unemployed' 'Factory Worker/Laborer/Driver' 'Sales Worker' nan
 'Clerical/Service Worker' 'Military']

Unique values in AREA:
['10+ years' '4-6 years' '7-10 years' '1-3 years' '-1 year' nan]

Unique values in DUAL.INCOMES:
['No' 'Yes' 'Not Married']

Unique values in HOUSEHOLD.SIZE:
['Three' 'Five' 'Four' 'Two' 'One' 'Six' nan 'Seven' 'Eight'
 'Nine or more']

Unique values in UNDER18:
[nan 'Two' 'One' 'Three' 'Four' 'Five' 'Six' 'Eight' 'Seven'
 'Nine or more']

Unique values in HOUSEHOLDER:
['Own' 'Rent' 'Family' nan]

Unique values in HOME.TYPE:
['House' 'Apartment' 'Other' 'Condominium' 'Mobile Home' nan]

Unique values in ETHNIC.CLASS:
['White' 'Hispanic' 'Asian' 'Black' 'Other' 'East Indian'
 'American Indian' nan 'Pacific Islander']

Unique values in LANGUAGE:
[nan 'English' 'Spanish' 'Other']

In [14]:
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 668

In [15]:
# Drop duplicates
df = df.drop_duplicates()
print("Shape after removing duplicates:", df.shape)

Shape after removing duplicates: (8325, 14)